@import "../../../../style/mixins";

.title {
   @include title;
}

.subTitle {
   @include subTitle;
}

.plans_w {
   display: flex;
   gap: 18px;

   @media(max-width: 425px) {
      flex-direction: column;
   }
   label {
   flex: 1;
   }
}

.plan {
   border-radius: 10px;
   border: 1px solid var(--Light_gray);
   height: 160px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 15px;

   position: relative;

   &:hover {
      cursor: pointer;
      border-color: var(--Purplish_blue);
   }

   @media(max-width: 425px) {
      height: auto;
      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;
   }

   input[type="radio"] {
      z-index: 100;
      appearance: none;
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      border: 0;
      padding: 0;
      margin: 0;
   }


}

.plan input[type="radio"]:checked+.plan {
   background-color: var(--Magnolia);
   border-color: var(--Purplish_blue);
}

.plan_info {
   color: var(--Marine_blue);
   font-size: 16px;
   font-weight: 500;
}

.plan_price {
   display: block;
   color: var(--Cool_gray);
   font-size: 14px;
}

.optional {
   @include text_S;
   color: var(--Marine_blue)
}

.frame {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 25px;

   border-radius: 10px;
   background-color: var(--Light_gray);

   font-size: 14px;
   font-weight: 700;
   color: var(--Cool_gray);
   margin-top: 20px;
   padding-block: 15px;
}

.active {
   color: var(--Marine_blue);
}


.switch_button {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 20px;

   background-color: var(--Marine_blue);
   transition: .4s;
   border-radius: 20px;
   // input[type="checkbox"] {
   //    opacity: 0;
   //    width: 0;
   //    height: 0;
   // }

   .slider {
      height: 14px;
      width: 14px;

      position: absolute;
      margin-block: auto;
      inset: 0;
      left: 3px;
      // bottom: 3px;

      background-color: var(--White);
      transition: .4s;
      border-radius: 50%;
      cursor: pointer;
   }
}

.switch_button input[type="checkbox"]:checked+span {
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(20px);
}